@import "tailwindcss";

:root {
  color-scheme: light only;
  --anchor-offset: 10px;
}

[x-cloak] {
  display: none !important;
}

html {
  overflow-x: clip;
}

html,
body {
  min-height: 100%;
}

body {
  @apply text-slate-900 antialiased;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
    background-color: var(--color-slate-50);
    color: var(--color-slate-800);
  }
}

* {
  forced-color-adjust: none;
}

[id] {
  scroll-margin-top: var(--anchor-offset);
}

[name] {
  scroll-margin-top: var(--anchor-offset);
}

@keyframes fade-in  { from { opacity: 0; } }
@keyframes fade-out { to   { opacity: 0; } }

::view-transition-old(root) {
    animation: 0ms;
}

::view-transition-new(root) {
    animation: 250ms ease-out fade-in;
}